body{
 font-family: cursive;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header h1{
    color: white;
    padding: 10px;
    margin: 0 0;
    text-align: center;
}

header a{
    color:white;
    float:right;
    text-decoration: none;
    margin-right: 10px;
}

#superhero-details{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0px 5px 5px 5px #e5e0e0;
    background: white;
}

#superhero-details img{
    min-height: 500px;
    width: 80%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.card-detail-container{
    width: 100%;
    padding: 30px;
}

.super-hero{
    margin-bottom: 40px;
}

.super-hero h3{
    margin: 0;
}

.appearence-inner{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.appearence-inner div{
    margin-right: 30px;
}

.heading{
    margin-top: 80px;
    text-align: center;
}

.add-to-favorites{
    padding: 5px 5px;
    padding: 5px;
    border-radius: 8px;
    background-color: #22ff22;
    border: none;
    color: white;
    margin: 10px 5px;
    &:hover{
        cursor: pointer;
    }
}

.remove-favorites{
    padding: 5px 5px;
    padding: 5px;
    border-radius: 8px;
    background-color: rgb(248, 33, 33);
    border: none;
    color: white;
    margin: 10px 5px;
    &:hover{
        cursor: pointer;
    }
}
